
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="slider">
    <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">

        <div class="slide s1">
            <img src="~/images/img1.jpg" alt="">
        </div>
        <div class="slide">
            <img src="~/images/img2.jpg" alt="">
        </div>
        <div class="slide">
            <img src="~/images/img3.jpg" alt="">
        </div>
        <div class="slide">
            <img src="~/images/img4.jpg" alt="">
        </div>
        <div class="slide">
            <img src="~/images/img5.jpg" alt="">
        </div>
    </div>

    <div class="navegacion">
        <label for="r1" class="circulo"></label>
        <label for="r2" class="circulo"></label>
        <label for="r3" class="circulo"></label>
        <label for="r4" class="circulo"></label>
        <label for="r5" class="circulo"></label>
    </div>
</div>

<div class="boton">
    <a href="javascript:void(0)" class="button scroll-down">&#709;</a>
</div>

<div class="informacion">
    <h2>Bienvenidos a Japón</h2>
    <hr>
    <p>
        Japón es realmente un lugar eterno, donde las antiguas tradiciones se fusionan con la vida moderna de la manera
        más natural del mundo.
    </p>
    <h3>Paisajes espectaculares</h3>
    <p>
        Japón es un archipiélago volcánico alargado y estrecho. Más de dos tercios de su superficie es montañosa, con
        fuentes termales por todas partes. Los meses más cálidos se prestan a las excursiones por bosques de cedros y
        campos de flores silvestres, ascendiendo a altas cumbres y descubriendo antiguos santuarios fundados por peregrinos
        ascetas. En invierno la nieve lo cubre todo y hay excelentes oportunidades para el esquí (y, aún mejor, para bañarse
        en algún onsen). En el sur, en cambio, se encuentran playas tropicales donde tomar el sol o practicar buceo,
        submarinismo y surf.
    </p>
    <h3>Gastronomía exquisita</h3>
    <p>
        Allá donde se esté, en Japón nunca hay que recorrer más de 500 m para comer estupendamente. Muchos restaurantes
        suelen estar especializados en un solo plato –quizá perfeccionado durante generaciones– y prestan gran atención
        a los ingredientes frescos y la composición del plato. No habrá que viajar mucho para descubrir lo variada que
        es la cocina japonesa.
    </p>
    <h3>Ciudades dinámicas</h3>
    <p>
        Los paisajes urbanos de las ciudades japonesas, llenos de neones, parecen decorados de una película de ciencia
        ficción, aunque algunos no hayan cambiado en décadas. Ciudades como Tokio y Osaka han ido añadiendo nuevas maravillas
        arquitectónicas y en sus bulliciosas calles, sus restaurantes y locales de copas abiertos las 24 h y centros creativos,
        nacen tendencias que son seguidas en todo el mundo.
    </p>
</div>