@model IEnumerable<aspTurismoJapon.Models.Ciudades>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    int x = 1;
}

<section class="class_acciones">
    <table>
        <tbody>
        <td>
            <h1>Administrador - Ciudades</h1>
        </td>
        <td>
            <a href="~/Administrador/Ciudades/Agregar">Agregar nueva Ciudad</a>
        </td>
        </tbody>
    </table>
</section>

<section class="class_contenido">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@x</td>
                    <td>@item.Nombre</td>
                    <td>
                        <table>
                            <td>
                                <a href="~/Administrador/Ciudades/Editar/@item.Id">Editar</a>

                            </td>
                            <td>
                                <a href="~/Administrador/Ciudades/Eliminar/@item.Id">Eliminar</a>
                            </td>
                        </table>
                    </td>
                </tr>
                x++;
            }

            @*<tr>
            <td>2</td>
            <td>Ciudad - 02</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ciudad - 03</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ciudad - 04</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ciudad - 05</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Ciudad - 06</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Ciudad - 07</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Ciudad - 08</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ciudad - 09</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Ciudad - 10</td>
            <td>
                <table>
                    <td>
                        <a href="~/Administrador/Ciudades/Editar">Editar</a>

                    </td>
                    <td>
                        <a href="~/Administrador/Ciudades/Eliminar">Eliminar</a>
                    </td>
                </table>
            </td>
        </tr>*@
        </tbody>
    </table>
</section>