
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<section class="class_acciones_registros">
    <table>
        <tbody>
        <td>
            <h1>Administrador - Index</h1>
        </td>
        <td class="class_registros">
            <a href="~/Administrador/Home/Importar">Importar registros</a>
        </td>
        <td class="class_registros">
            <a href="~/Administrador/Home/Exportar">Exportar registros</a>
        </td>
        </tbody>
    </table>

    <ul>
        <li>
            <h4>Render Body</h4>
        </li>
        <li>
            <h4>Render Body</h4>
        </li>
        <li>
            <h4>Render Body</h4>
        </li>
        <li>
            <h4>Render Body</h4>
        </li>
        <li>
            <h4>Render Body</h4>
        </li>
        <li>
            <h4>Render Body</h4>
        </li>
    </ul>
</section>