@model  aspTurismoJapon.Models.ViewModels.TipoAtraccion_ViewModel
@{
    ViewData["Title"] = "Agregar";
    Layout = "_Layout";
}

<section class="class_acciones">
    <table>
        <tbody>
        <td>
            <h1>Administrador - Tipo de Atracciones</h1>
        </td>
        <td>
            <a href="~/Administrador/TipoAtraccion">Agregando Tipo de Atraccion</a>
        </td>
        </tbody>
    </table>
</section>

<section class="class_agregar_editar">
    <form action="~/Administrador/TipoAtraccion/Agregar" method="post" enctype="multipart/form-data">
        <label for="">Tipo:</label>
        <input type="text" asp-for="Tipo">

        <label for="">Icono:</label>
        <input type="file" asp-for="IconoFile">

        <section class="class_agregar_editar_acciones">
            <table>
                <td>
                    <input type="submit" value="Agregar">
                </td>
                <td>
                    <a href="~/Administrador/TipoAtraccion">Cancelar</a>
                </td>
            </table>
        </section>
    </form>
</section>

<section class="class_errores">
    <h1>Errores:</h1>

    @Html.ValidationSummary()
</section>